body{
  background-color: #000;
  color: white;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 12.5vw); /* Each column is 80px wide */
  grid-template-rows: repeat(8, 12.5vw); /* Each row is 80px tall */
  width: 100vw; /* Total width is 8 * 80px */
  height: 100vw; /* Total height is 8 * 80px */ 
}

.tile {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  width: 12.5vw; /* Width of each tile */
  height: 12.5vw; /* Height of each tile */
}

.selected {
  background-color: #00f526; /* Add your desired background color for selected tiles */
  color: #000; /* Add your desired text color for selected tiles */
}


/* FONTING  */
@font-face{
  font-family: myFont;
  src:url(PFSpekkVAR-Light-subset.otf);
  
}

*{
  font-family: myFont;
}

/* BUTTON CSS  */
.video-game-button {
	text-shadow: 1px 1px pink, -1px -1px maroon;
	line-height: 1.5em;
	text-align: center;
	display: inline-block;
	width: 1.5em;
	-webkit-border-radius: .75em;
	-moz-border-radius: .75em;
	-o-border-radius: .75em;
	border-radius: .75em;
	background-color: red;
	-webkit-box-shadow:  0 .2em maroon;
	-moz-box-shadow:  0 .2em maroon;
	-o-box-shadow:  0 .2em maroon;
	box-shadow:  0 .2em maroon;
	color: red;
	margin: 5px;
	background-color: red;
	cursor: pointer;
  padding-left: 5px;
}

.start-btn{
    text-align: center;
  	display: inline-block;
	  margin:5px;
    font-weight: bold;
    padding: 10px 10px 10px 10px ;
    width: 120px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	  -moz-border-radius: 7px;
	  -o-border-radius: 7px;
	  border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
}

.video-game-button:active, .start-btn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}




/* CROSSWORD CSS  */
.crossword {
  display: flex;
  flex-direction: column;
}

.crossword-row {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

input {
  width: 4.54545454545vw;
  height: 4.54545454545vw;
  font-size: 16px;
  text-align: center;
  border: 1px solid #000;
  margin: -1px;
  box-sizing: border-box;
  outline: none;
}

.static-word {
  width: 30px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #f90000;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: blue;
}



input:read-only {
  background-color: black;
  color: black;
}

input.success {
  background-color: white !important;
  color: black !important;
}

input.static {
  background-color: rgb(188, 0, 0) !important;
  color: rgb(251, 0, 0) !important;
}
